body{
    background: rgb(16,102,5);
    background: linear-gradient(90deg, rgba(16,102,5,1) 1%, rgba(0,255,164,1) 27%, rgba(7,214,126,1) 50%, rgba(8,132,170,1) 72%, rgba(0,212,255,1) 100%); 
}
.logo img{
    width: 10px;
    height: 10px;
}
#canciones table th a{
    text-decoration: none;
    color: black;
}
.imagen img{
    width: 38px;
}
.canciones th a{
    padding-right: 3px;
}
table{
    width: 100%;
}
#titulo {
    text-align: center;
}
table th{
    border: 10px;
    border-color: rgb(9, 172, 9);
}
td{
    border: 10px;
    border-color: green;
}